@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #d0b9a7;
    border-radius: 4px;
}

.active{
    background-color: #b08463;
    border-color: #d0b9a7;
}